* {
  box-sizing: border-box;
}
.squares-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}
.square-sizing,
.square,
.square-untouched,
.square-deleted,
.square-failure-anim,
.square-marked,
.clues-clue {
  width: 50px;
  height: 50px;
  padding: 5px !important;
  position: relative;
}
.square,
.square-untouched,
.square-deleted,
.square-failure-anim,
.square-marked {
  border: 1px solid #fff;
  border-color: rgba(0,0,0,0.2);
  border-bottom-color: #e6e6e6;
  color: #fff;
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  cursor: pointer;
  display: inline-block;
  font: bold 100%/2.1 "Lucida Grande", Tahoma, sans-serif;
  padding: 0 0.95em 0 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  border-radius: 0.3em;
}
.square-untouched {
  background-color: #fafcfc;
}
.square-deleted {
  background-color: #b6bdbd;
}
.square-failure-anim {
  background-color: #bd1e13;
}
.square-marked {
  background-color: #b7dcf4;
}
.clues-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.clues-clue {
  font-family: 'Bangers', cursive;
  font-size: 30px;
  color: #f8c3b9;
  line-height: 50px;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}
.clues-block-cols {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.board-squares-rows {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.particle {
  z-index: 10000;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #808080;
  opacity: 0.4;
}
.particle-success {
  background-color: #00f;
  border: 1px solid #00c;
}
.particle-failure {
  background-color: #f00;
  border: 1px solid #c00;
}
.particle-dead {
  display: none;
}
.particle-board {
  position: absolute;
  top: 0;
  left: 0;
}
.view-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.top {
  position: relative;
}
.particle-settings {
  z-index: 1000000;
}
